{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <body>

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <div class="form-register form-group" style="top: 10px;width: 200px;">
        {{ form_start(registrationForm) }}
        <h1 >S'inscrire</h1>
        {{ form_widget(registrationForm) }}
        <button class="btn btn-lg btn-primary">S'inscrire</button>
        {{ form_end(registrationForm) }} </div>

    </body>
{% endblock %}
