* {
    font-family: 'Amatic SC', cursive;

}

body {
    background-color: #d39e002e !important;
}
table {
    display: block;
    position: relative;
    right: 35%;
    left: 35%;
    background-color: white;
}
th {
    border: solid;
}

tr, td {
    border: solid;
}

.logo-sun {
    height: 65px;
}

.title-sun {
    font-size: 34px;
}

.form{
    display: table-caption;
}


