* {
    font-family: 'Amatic SC', cursive;

}

body {
    background-color: #d39e002e !important;

}
.table-wrapper {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}
table {
    background-color: white;
}
th {
    border: solid;
}

tr, td {
    border: solid;
}

.logo-sun {
    height: 65px;
}

.title-sun {
    font-size: 34px;
}

.body-register  {
    display: flex !important;
    justify-content: center !important;
}

.form-group {
    top: 10px;
    width: 200px;
    text-align: center;
}



.form-login
{
    display: inline-grid;
    position: relative;
    top: 80px;
    left: 43%;
    right: 43%;
}
footer
{
 text-align: center;
}

.link-login
{
    display: block;
    text-align: center;
}

