{% extends 'sortie/SortieLayOut.html.twig' %}

{% block body %}
    <body class="body-register">
    {% for flashError in app.flashes('vérifier vos entrée en formualaire') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor%}
    <div class="form-group" style="display: flex; justify-content: center">
        {{ form_start(SortieType) }}
        <h1>Nouvelle Sortie</h1>
        {{ form_widget(SortieType) }}
        {{ form_end(SortieType) }}
        <button class="btn btn-lg btn-primary">Ajouter votre sortie</button>
    </div>
    </body>
{% endblock %}